# Ignore everything
*
# But descend into directories
!*/
# These specifically belong in source
!/defaults/**
!/.devcontainer/**
!/.github/**
!/files/**
!/handlers/**
!/meta/**
!/molecule/**
!/tasks/**
!/templates/**
!/vars/**
!/venv/requirements.txt
!/.ansible-lint
!/.ansible-lint-ignore
!/.editorconfig
~/.gitattributes
!/.gitignore
!/.prettierrc
!/.yamllint
!/LICENSE
!/README.md
