quoteProps: "consistent"
trailingComma: "es5"
bracketSpacing: true
printWidth: 120
tabWidth: 2
semi: false
singleQuote: false
endOfLine: lf
overrides:
  - files: ".prettierrc"
    options:
      parser: "yaml"
