---
- name: Create 'data' directory
  ansible.builtin.file:
    path: "{{ unifi_data_real_path }}"
    state: directory
    mode: 0755
    owner: "{{ unifi_user }}"
    group: "{{ unifi_group }}"

- name: Copy application directory to '/opt'
  tags:
    - molecule-idempotence-notest
  ansible.builtin.copy:
    src: "{{ _temp_dir.path }}/UniFi/"
    dest: "{{ target_path }}"
    remote_src: true
    owner: "{{ unifi_user }}"
    group: "{{ unifi_group }}"
    mode: preserve
    force: false
  vars:
    target_path: "{{ unifi_install_real_path }}"
    target_path_dir: "{{ unifi_path_status | json_query('[? path == `{{ target_path }}`].stat.exists') | join() | bool }}"

- name: Link versioned install path to vanity path
  ansible.builtin.file:
    src: "{{ unifi_install_real_path }}"
    dest: "{{ unifi_install_vanity_path }}"
    owner: "{{ unifi_user }}"
    group: "{{ unifi_group }}"
    state: link

- name: Link data directory to install data path
  ansible.builtin.file:
    src: "{{ unifi_data_real_path }}"
    dest: "{{ unifi_data_working_path }}"
    owner: "{{ unifi_user }}"
    group: "{{ unifi_group }}"
    state: link
