---
- name: Include OS specific variables
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_os_family }}.yml"
    - paths:
        - vars
      skip: true

- name: Include OS specific setup tasks
  ansible.builtin.include_tasks: "{{ item }}"
  with_first_found:
    - files:
        - "setup-{{ ansible_os_family }}.yml"
    - paths:
        - tasks
      skip: true

- name: Resolve UniFi install state
  ansible.builtin.include_tasks: "resolve-install-state.yml"

- name: Include tasks to create system user and group
  ansible.builtin.include_tasks: "user.yml"

- name: Include pre-tasks
  ansible.builtin.include_tasks: "pre-tasks.yml"

- name: Include UniFi Network Application deploy tasks
  ansible.builtin.include_tasks: "install.yml"

- name: Include UniFi Network Application firewalld tasks
  when: _firewalld_status.stat.exists
  ansible.builtin.include_tasks: "configure-firewalld.yml"

- name: include post-tasks
  ansible.builtin.include_tasks: "post-tasks.yml"
