---
- name: Install EPEL repository
  when: ansible_distribution != "Amazon"
  ansible.builtin.yum:
    disable_gpg_check: true
    name: "https://dl.fedoraproject.org/pub/epel/epel-release-latest-{{ ansible_distribution_major_version }}.noarch.rpm"
    state: present

- name: Install EPEL repository
  when: ansible_distribution == "Amazon"
  ansible.builtin.command: amazon-linux-extras install epel -y

- name: Add MongoDB yum repository
  when: ansible_distribution != "Amazon"
  ansible.builtin.yum_repository:
    name: mongodb-org-4.4
    description: MongoDB Repository
    baseurl: "https://repo.mongodb.org/yum/redhat/{{ ansible_distribution_major_version }}/mongodb-org/4.4/x86_64/"
    gpgcheck: true
    enabled: true
    gpgkey: "{{ mongodb_pgp_key_url }}"

- name: Add MongoDB yum repository
  when: ansible_distribution == "Amazon"
  ansible.builtin.yum_repository:
    name: mongodb-org-4.4
    description: MongoDB Repository
    baseurl: "https://repo.mongodb.org/yum/amazon/{{ ansible_distribution_major_version }}/mongodb-org/4.4/x86_64/"
    gpgcheck: true
    enabled: true
    gpgkey: "{{ mongodb_pgp_key_url }}"

- name: Install prerequisite packages
  ansible.builtin.yum:
    name: "{{ redhat_packages }}"
    enablerepo: epel
    state: present
  ignore_errors: "{{ ansible_check_mode }}"
