---
# This is an example playbook to execute Ansible tests.

- name: Verify
  hosts: all
  gather_facts: false
  tasks:
    - name: Check that UniFi Network application is running
      uri:
        url: https://127.0.0.1:8443/manage/account/login
        status_code: 200
        validate_certs: false
      register: result
      until: result.status == 200
      retries: 60
      delay: 1
